<!-- list all products in the database // Product Catalog-->
<!-- include a link to mixing studio which directs to product/new.erb -->
<!-- show current_user.username -->
<!-- link to dashboard -->
<!-- link to all boxes in db // Box Catalog -->
<h1>Product Catalog // all products in inventory</h1>

<% Product.all.each do |product| %>
<ul>
  <li><h3><%= product.name %> // <small><a href="/products/<%= product.slug %>">click for more details</a></small></h3>
</ul>
  <% end %>
