<!-- list all products in the database // Product Catalog-->
<!-- include a link to mixing studio which directs to product/new.erb -->
<!-- show current_user.username -->
<!-- link to dashboard -->
<!-- link to all boxes in db // Box Catalog -->
<a href="/myaccount"><%= current_user(session).username.capitalize %>'s Dashboard</a> // <a href="/boxes">Box Catalog</a> // <a href="/products">Product Catalog</a>
<h2>Product Catalog // all products in inventory</h2>

<% Product.all.each do |product| %>
<ul>
  <li><%= product.name %> // <small><a href="/products/<%= product.slug %>">click for more details</a></small>
</ul>
  <% end %>
<br></br><a href="/logout">Log Out</a>
