<% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %><br>
    <h2>Welcome to BathBox!</h2>


      <p>Customize your monthly subscription of bath products for some well-deserved rest & relaxation!</p>


    <div class="button">
      <a href="/signup">Sign Up</a>
    </div>

    <div class="button">
      <a href="/login">Log In</a>
    </div>
