<div class="container">
  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>
    <h2>Welcome to BathBox!</h2>

    <div class="content">
      <p>Customize your monthly subscription of bath products for some well-deserved rest & relaxation!</p>
    </div>

    <div class="button">
      <a href="/signup">Sign Up</a>
    </div>

    <div class="button">
      <a href="/login">Log In</a>
    </div>

</div>

<!-- Need to list out all boxes belonging to the user in this index/dashboard page -->
<!-- Need to include a link to check out ALL BOXES period created by all users for the logged in user to view-->
<!-- Need to list out all products that the current user has used -->
<!-- Need to include a link to check out ALL PRODUCTS in inventory -->
<!-- Include a link to the mixing library to make your own produce product/new erb -->
