<div class="container">
  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>
    <h2>Welcome to BathBox!</h2>

    <div class="content">
      <p>Customize your monthly subscription of bath products for some well-deserved rest & relaxation!</p>
    </div>

    <div class="button">
      <a href="/signup">Sign Up</a>
    </div>

    <div class="button">
      <a href="/login">Log In</a>
    </div>

</div>
